
header
  background-color: #fff
  height: $header-height
  -webkit-transition: all 250ms ease-in
  -moz-transition: all 250ms ease-in
  -o-transition: all 250ms ease-in
  transition: all 250ms ease-in
  overflow: hidden
  nav
    width: 100vw
  li
    list-style-type: none

main
  height: calc(85vh)
  background-color: $color-secondary
