.icons
  min-width: 160px
  min-height: $header-height
.icon
  position: relative
  cursor: pointer
  img
    width: 24px

.notification
  position: absolute
  top: -6px
  right: -6px

.logo
  display: flex
  align-items: center
  height: $header-height

.body
  background-color: #fff
  @include flex-column()

.body-title
  font-size: 3.5rem

.products
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
  grid-auto-rows: 350px
  justify-content: center
  grid-gap: 30px

.product-item, .product-image
  align-items: center
  @include flex-column()

.product-item
  cursor: pointer
  box-shadow: $color-shadow-default
  border-radius: $radius-default
  transition: 350ms
  &:hover
    box-shadow: $color-shadow-hover
  h6
    color: lighten($color-primary, 10%)
    font-weight: 300
  h4
    font-weight: 800
    grid-row: 3 / 4
    grid-column: 2 / 3
    justify-self: center
  p
    grid-row: 2 / 3
    grid-column: 1 / 2
  button
    grid-row: 3 / 4
    grid-column: 1 / 2
.product-image
  overflow: hidden
  grid-row: 1 / 3
  grid-column: 2 /3
  img
    width: 55%

.to-top-button
  display: none
  position: fixed
  height: 40px
  border: none
  bottom: 30px
  right: 16px
  border-radius: 50%

.absolute
  position: absolute
  display: flex
  flex-direction: column
  left: 0
  width: calc(100vw - 45px)
  top: $header-height-opened
  background: white
  box-shadow: 1px 1px 30px rgba(0,0,0,0.08)
  border-radius: $radius-default
  overflow: hidden
  z-index: 0
.pointer
  cursor: pointer

.list-group-item
  border: none
  transition: 500ms
  &:hover
    box-shadow: 1px 1px 30px rgba(0,0,0,0.125)
.increment, .decrement
  @include no-select
.cart
  &-close
    img
      width: 20px
  &-item
    &-name
      font-size: .9rem
    &-remove
      justify-self: end
      font-size: 0.7rem
      grid-column: -1 / -2
    &-price
      font-size: .8rem
.header-container
  position: relative
  height: 100%
  z-index: 1
  background-color: #fff
  box-shadow: $color-shadow-default
.add-to-cart-btn:focus
  box-shadow: none !important
  // border-none
